<!DOCTYPE html>
<html>
    <%-include ../../partials/_head.ejs%>
    <body>
        <header>
            <%-include ../../partials/_navbar.ejs%>
            <h1>Edit <%=event.name%></h1>
        </header>
        <main>
            <h2>Event Info:</h2>
            <form action="/events/<%=event._id%>?_method=PUT" method="post">
                Edit Event Name:
                    <input type="text" name="name" value="<%=event.name%>"/><br/>
                Edit Date:
                    <input type="date" name="date" value="<%=event.date%>"/><br/>
                Edit Time:
                    <input type="text" name="time" value="<%=event.time%>"/><br/>
                Edit Game:
                    <input type="text" name="gameToBePlayed" value="<%=event.gameToBePlayed%>"/><br/>
                Edit Maximum Players:
                    <input type="number" name="maxNumberOfPlayers" value="<%=event.maxNumberofPlayers%>"/><br/>
                Edit Minimum Players:
                    <input type="number" name="minNumberOfPlayers" value="<%=event.minNumberofPlayers%>"/><br/>
                Edit Available Spots:
                    <input type="number" name="availableSpots" value="<%=event.availableSpots%>"/><br/>
                Edit Location:
                    <input type="text" name="location" value="<%=event.location%>"/><br/>
                Edit Description:
                    <textarea name="description"><%=event.description%></textarea><br/>
                Edit Type:
                    <input type="text" name="type" value="<%=event.type%>"/><br/>
                Edit Image URL:
                    <input type="text" name="image" value="<%=event.image%>"/><br/>
                <input type="submit" value="Update Event Info"/>
            </form>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>