<!DOCTYPE html>
<html>
    <%-include ../../partials/_head.ejs%>
    <body>
        <header>
            <%-include ../../partials/_navbar.ejs%>
            <h1>EVENTS INDEX</h1>
        </header>
        <main>
            <h3>This is the body of the Event Index page</h3>
            <ul>Events being hosted
                <%for(let i = 0; i < foundEvents.length; i++){%>
                <a href="/events/<%=foundEvents[i]._id%>"><li class='event'><%=foundEvents[i].name%></li></a>
                <%}%>
            </ul>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>