<!DOCTYPE html>
<html>
    <%-include ../../partials/_head.ejs%>
    <body>
        
            <%-include ../../partials/_navbar.ejs%>
            
        
        <main>
            <%-include ../../partials/_alert.ejs%>
            <h1>EVENTS INDEX</h1>
            <h3>This is the body of the Event Index page</h3>
            <ul>Events being hosted
                <%for(let i = 0; i < events.length; i++){%>
                <a href="/events/<%=events[i]._id%>"><li class='event'><%=events[i].name%></li></a>
                <%}%>
            </ul>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>