<!DOCTYPE html>
<html>
    <%-include ../../partials/_head.ejs%>
    <body>
        <header>
            <%-include ../../partials/_navbar.ejs%> 
            <h1><%=event.name%></h1>
        </header>
        <main>
            <section>
                Name: <%=event.name%><br/>
                Date: <%=event.date%><br/>
                Time: <%=event.time%><br/>
                Location: <%=event.location%><br/>
                Host:   <%=event.host.name%><br/>
                Contact Info: <%=event.host.contactInfo%><br/>
                Game: <%=event.gameToBePlayed%><br/>
                Description: <%=event.description%><br/>
                Maximum Players: <%=event.maxNumberofPlayers%><br/>
                Minimum Players: <%=event.minNumberofPlayers%><br/>
                Available Spots: <%=event.availableSpots%><br/>
                Event Type: <%=event.type%><br/>
                <img class="event-image" src='<%=event.image%>'><br/>
            </section>
            <section>
                <a href="/events/<%=event._id%>/edit">Edit Event</a>
            </section>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>