<!DOCTYPE html>
<html>
    <%-include ../../partials/_head.ejs%>
    <body>
        <header>
            <%-include ../../partials/_navbar.ejs%> 
            <h1><%=foundEvent.name%></h1>
        </header>
        <main>
            <section>
                Name: <%=foundEvent.name%><br/>
                Date: <%=foundEvent.date%><br/>
                Time: <%=foundEvent.time%><br/>
                Location: <%=foundEvent.location%><br/>
                Host:   <%=foundEvent.host.name%><br/>
                Contact Info: <%=foundEvent.host.contactInfo%><br/>
                Game: <%=foundEvent.gameToBePlayed%><br/>
                Description: <%=foundEvent.description%><br/>
                Maximum Players: <%=foundEvent.maxNumberofPlayers%><br/>
                Minimum Players: <%=foundEvent.minNumberofPlayers%><br/>
                Available Spots: <%=foundEvent.availableSpots%><br/>
                Event Type: <%=foundEvent.type%><br/>
                <img class="event-image" src='<%=foundEvent.image%>'><br/>
            </section>
            <section>
                <a href="/events/<%=foundEvent._id%>/edit">Edit Event</a>
            </section>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>