<!DOCTYPE html>
<html>
    <%-include ../../partials/_head.ejs%>
    <body>
        <%-include ../../partials/_navbar.ejs%> 
        <main>
        <%-include ../../partials/_alert.ejs%>
        <h1><%=event.name%></h1>
        <div class='container-fluid'>
            <div class='row justify-content-center'>
            <%# Wrapper for Event Info %>
                <div class='col-md-6 offset-md-1'>
                    <div class='user-card' id="user-card">
                        <ul class='show-event-card-info'>
                            <span><h3>Name:</h3>    <p><%=event.name%></p></span>
                            <span><h3>Date: </h3> <p><%=event.date%></p></span>
                            <span><h3>Time: </h3> <p><%=event.time%></p></span>
                            <span><h3>Location: </h3> <p><%=event.location%></p></span>
                            <span><h3>Game: </h3> <p><%=event.game%></p></span>
                            <span><h3>Description: </h3> <p><%=event.description%></p></span>
                            <span><h3>Host: </h3> <p><%=event.user.name%></p></span>
                            <span><h3>Contact Info:</h3> <p><%=event.user.contactInfo%><p></span>
                            <span><h3>Available Spots:</h3> <p><%=event.availableSpots%></p></span>
                        </ul>
                    </div>
                    <div class='btn'><a href="/events/<%=event._id%>/edit">Edit Event</a></div>
                    <form action="/events/<%=event._id%>?_method=DELETE" method="POST">
                        <input class="btn" type="submit" name="" value="Delete Event">
                    </form> 
                    <form action='/events/<%=event._id%>' method="POST">
                        <input type="submit" name="" value="Join">
                    </form>
            
                </div>
                <%# Wrapper for Players attending %>
                <div class='col-md-5'>
                    <div class="user-card" id="user-card">
                    <h3>Players attending:</h3>
                    <p><ul>
                    <%if(user && user._id == event.host._id.toString()){%>
                        <%players.forEach(function(player){%>
                        <div class="item-card btn"><%=player.name%></div>
                        <%})%>
                    <%} else if(players.length){%>
                        <div class='item-card btn'><%=players.length%> Players</p>
                    <%} else {%>
                        <h5>No players yet.</h5>
                    <%}%>
                    </ul></p>
                </div>
                
                </div>
            </div>
        </div>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>