<!DOCTYPE html>
<html>
    <%-include ../../partials/_head.ejs%>
    <body>
        <%-include ../../partials/_navbar.ejs%> 
        <main>
        <%-include ../../partials/_alert.ejs%>
        <h1><%=event.name%></h1>
        <div class='container-fluid'>
            <div class='row justify-content-center'>
            <%# Wrapper for Event Info %>
                <div class='col-md-8'>
                    <div class='user-card' id="user-card">
                        <ul class='show-event-card-info'>
                            <span class="event-info"><h4>Name:</h4>    <p><%=event.name%></p></span>
                            <span class="event-info"><h4>Date: </h4> <p><%=event.date%></p></span>
                            <span class="event-info"><h4>Time: </h4> <p><%=event.time%></p></span>
                            <span class="event-info"><h4>Location: </h4> <p><%=event.location%></p></span>
                            <span class="event-info"><h4>Game: </h4> <p><%=event.game%></p></span>
                            <span class="event-info"><h4>Description: </h4> <p><%=event.description%></p></span>
                        </ul>
                    </div>          
                </div>
                <%# Wrapper for Players attending %>
                <div class='col-md-4'>
                    <div class="user-card event-player-info" id="user-card">
                    <span class="event-info"><h4>Host: </h4> <p><%=event.host.name%></p></span>
                    <span class="event-info"><h4>Contact Info:</h4> <p><%=event.host.contactInfo%><p></span>
                    <span class="event-info"><h4>Available Spots:</h4> <p><%=event.availableSpots%></p></span>
                    <h4>Players attending:</h4>
                    <p><ul style=>
                    <%if(user && user._id == event.host._id.toString()){%>
                        <%players.forEach(function(player){%>
                        <div class="item-card btn"><%=player.name%></div>
                        <%})%>
                    <%} else if(players.length){%>
                        <div class='item-card btn'><%=players.length%> Players</p>
                    <%} else {%>
                        <p>No players yet.</p>
                    <%}%>
                    </ul></p>
                    <div class='btn'><a href="/events/<%=event._id%>/edit">Edit Event</a></div>
                    <form action="/events/<%=event._id%>?_method=DELETE" method="POST">
                        <input class="btn" type="submit" name="" value="Delete Event">
                    </form> 
                    <form action='/events/<%=event._id%>' method="POST">
                        <input type="submit" name="" value="Join">
                    </form>
                </div>
                
                </div>
            </div>
        </div>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>