<!DOCTYPE html>
<html lang="en">
    <%-include ../../partials/_head.ejs%>
    <body>
        
            <%-include ../../partials/_navbar.ejs%>
            
    <main>
            <%-include ../../partials/_alert.ejs%>
            <h1>User Index Page</h1> 
            <ul>List of Users
                <%users.forEach(function(user){%>
                    <li><a class="show-user-link" href="/users/<%=user._id%>"><%=user.name%></a></li>
                <%})%>
            </ul>

        </main>
    </body>
    <%-include ../../partials/_footer.ejs%>
</html>