<!DOCTYPE html>
<html lang="en">
    <%-include ../../partials/_head.ejs%>
    <body>
        <h1>Register New User</h1>
        <%if(message){%>
          <script>
            alert('<%=message%>');
          </script>
        <%}%>
        <form action="/users/" method="POST">
        <input value="" placeholder="Name" type="text" name='name'>
        <input value="" placeholder="Email Address" type="email" name='email'>
        <input value="" placeholder="Password" type="password" name='password'>
        <input type="submit" value="Register">
      </form>
        <header>
            <%-include ../../partials/_navbar.ejs%>
        <h1>Register New User</h1>
            <%if(message){%>
          <script>
            alert('<%=message%>');
          </script>
        <%}%>        
        </header>
        <main>
            <h1>Register New User</h1>
            <%if(message){%>
              <script>
                alert('<%=message%>');
              </script>
            <%}%>
            <form action="/users/" method="POST">
            <input value="" placeholder="Name" type="text" name='name'>
            <input value="" placeholder="Email Address" type="email" name='email'>
            <input value="" placeholder="Password" type="password" name='password'>
            <input type="submit" value="Register">
          </form>
        </main>
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>