<!DOCTYPE html>
<html lang="en">
    <%-include ../../partials/_head.ejs%>
    <body>
            <%-include ../../partials/_navbar.ejs%>
    <main>
            <%-include ../../partials/_alert.ejs%>
            <h1><%=user.name%>'s Show Page</h1>
            <img class="user-image" src="<%=user.picture%>"> 
            <ul><%=user.name%>'s Hosting:
                <%if(events){%>>
                <%events.forEach(function(event){%>
                    <form action="/events/<%=event._id%>?_method=DELETE" method="POST">
                        <li><a href="/events/<%=event._id%>"<li><%=event.name%></a>
                        <span>
                            <input type="submit" name="" value="Delete Game">
                        </span>
                        </li>
                    </form>
                <%})%>
                    
                <%}%>
            </ul>
            <ul><%=user.name%>'s Events:
                <%if(!user.event){%>
                  <p>No events yet<p>
                <%} else {%>
                    <p><%=user.event.name%></p>
                <%}%> 
            </ul>
            
            <p><%=currentUser%></p>
            
            <div class="card" id="user-card">
                <ul>
                Name: <%=user.name%><br/>
                email: <%=user.email%><br/>
                password: <%=user.password%><br/>
                contactInfo: <%=user.contactInfo%><br/>
                user icon:<br/>
                playerRating:<%=user.playerRating%><br/>
                hostRating: <%=user.hostRating%><br/>
                bio: <%=user.bio%><br/>
                eventPreferences: <%=user.eventPreferences%><br/>
                </ul>
            </div>
            <div>Account Edits: 
                <div><a href="/users/<%=user._id%>/edit">Edit <%=user.name%>'s Info</a></div>
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <input type="submit" name="" value="Delete Account">
                </form>
            </div>
            
        </main> 
        <%-include ../../partials/_footer.ejs%>
    </body>
</html>